:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);

  --fs-900: 1rem;
  --fs-400: .8125rem;

  --fw-normal: 500;
  --fw-bold: 700;

  --ff-normal: 'Manrope', sans-serif;
}

@media screen and (min-width: 900) {
  :root {
    --fs-900: 1.25rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

/* general styles */

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* utilities */

.flex-group {
  display: flex;
  gap: 1em;
  align-items: center;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  font-size: var(--fs-400);
  font-family: var(--ff-normal);
  background-color: var(--light-grayish-blue);

  display: grid;
  place-content: safe center;
}

main {
  padding: 1em
}

.article {
  background-color: white;
  max-width: 474px;
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0px 0px 0.9 10px;
  position: relative;
}

.article__img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.article__content {
  padding: 3em;
}

.article__title {
  font-size: var(--fs-900);
  font-weight: var(--fw-bold);
  color: var(--very-dark-grayish-blue);
  margin-bottom: 1em;
}

.article__text {
  color: var(--desaturated-dark-blue);
  margin-bottom: 2em;
}

.article__footer {
  justify-content: space-between;
}

.article__author-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.article__author-name {
  font-weight: var(--fw-bold);
  color: var(--very-dark-grayish-blue);
}

.article__date {
  color: var(--desaturated-dark-blue)
}

.share-btn {
  background-color: var(--light-grayish-blue);
  border: none;
  padding: 0.75em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.share {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2em 3em;
  background-color: var(--very-dark-grayish-blue);
  justify-content: space-between;
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
}

.share-reveal {
  transform: translateY(0);
}

.share__text {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--grayish-blue);
  font-weight: var(--fw-bold);
}

.share .share-btn {
  background: var(--desaturated-dark-blue);
}



@media screen and (min-width: 900px) {
  main {
    position: relative;
  }

  .article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 730px;
    ;
    position: unset;
  }

  .article__img {
    height: 100%;
  }

  .share {
    left: unset;
    bottom: 110px;
    right: -40px;
    z-index: 999;
    border-radius: 0.5em;
    padding: 0.75em 2em;
    isolation: isolate;
    display: flex;
    justify-content: center;
    display: none;
    transition: display 0.5s ease-in-out;
  }

  .share-reveal {
    display: flex;
  }

  .share::before {
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    top: 50%;
    transform: rotate(45deg);
    background-color: red;
    z-index: -1;
    background-color: inherit;
  }

  .share .share-btn {
    display: none;
  }

}